body {
    background: url('https://images.assetsdelivery.com/compings_v2/liliwhite/liliwhite1601/liliwhite160100005.jpg');
    color: white;
    /* justify-content: center; */
    text-align: center;
    
}